body {
    margin: 0;
    background-color: #ECFDF5;
    padding-left: 52px;
    margin-top: 50px;
}

h1 {
    font-family: 'karla';
    letter-spacing: -2px;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 15px;
    width: 354;
    color: #111827;
}

.parag { 
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #6B7280;
}

.parag1 { 
    color: #D5D4D8;
    padding-top: 0px;
}

.green {
    color: #10B981;
}
@font-face {
    font-family: 'karla'; /*a name to be used later*/
    src: url(/Karla/Karla-VariableFont_wght.ttf); /*URL to font*/
}

button {
    width: 191;
    height: 44;
    top: 284px;
    left: 52px;
    opacity: 1;
    border-radius: 6px;
    padding-top: 9px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 15px;
    gap: 12px;
    border: 0;
    background-color: #10B981;
    color: #FFFFFF;
    
}

.rectangle {
    background-color: #273549;
    border: 0;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 6px;
    float: left;
    margin-right: 25px;
    color: #5DEF92;
}